MONGO_URI=""
JWT_SECRET=""
SUPERADMIN_EMAIL=""
SUPERADMIN_PASSWORD=""

# SMTP Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM_NAME="IMS System"
SMTP_FROM_EMAIL="noreply@ims.com"

# Frontend Configuration
FRONTEND_URL="http://localhost:5173"
